@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    box-sizing: border-box; 
}
body {
    margin: 0;
    padding-bottom: 0;
}

header { 
    background: url(../img/huntington.png);
    background-size: cover;
    width: 100%;
    height: 270px;
    text-align: center;
    
}

h1 {
    font-family: "Roboto:300";
    color: whitesmoke;
    text-shadow: 4px 5px black;
    font-size: 40px;
    height:2px;
    padding:90px 0;
    margin-top: 0;
	margin-bottom:-50px;
}

h2 {
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 70px;
    font-family: "Satisfy";
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 400px;
    background-size: 35px;
    background-position-y: 19px
}

h3 {
    font-family: "Roboto:300"; 
    padding: 2px 100px;
    color: black;
    
}

p {
    font-family: "IBM Plex Mono";
    padding: 2px 100px;
}

.participation, .benefits {
    background: url(../img/bamboo.png);
    background-attachment: scroll;
    background-color: #89a87e;
    padding-top: 10px;
    color: white;
    
}

abbr{
    text-decoration: none;
}

.participation p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black; 
}

[role="contentinfo"]{
    background-color: #89a87e;
    width: 100%;
    text-align: center;
    font-family: "Roboto:300"; 
    font-size: 25px;
    color: gray;
    line-height: 100px;
    margin: 0px;  
}

[role="contentinfo"] a{
    font-family: "Satisfy";
    font-size: 40px;
    line-height: 100px;
    color: white;
  
}

[role="contentinfo"] a:hover{
    text-decoration-line: underline;
}

footer {
    background-color: #186340;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 33px;    
}

footer a{
    color: white;
    padding: 15px 15px; 
    line-height: 60px;
}

footer a:hover{
    color: gray;
}

.wrapper, .next, .viewall {
   background-color: #e5f2e1;
   font-family: "Roboto:300";
   margin: 0;
} 

[role="navigation"] li {
    box-sizing: border-box;
    overflow: auto;
    float: left;
    width: 50%;
    padding: 20px 0px;
    text-align: center;
    border-color: #cfd1cf;
    border-bottom: solid 1px #cfd1cf;
    position: relative;
}

nav ul {
    padding-left: 0;
    margin: 0;
}

.design-name {
    color: black;
}

.designer-name, .design-archives a {
    color: gray;
}

.design-archives li {
    background-color: #e5f2e1;
}

.sidebar h3{
    visibility: hidden;
    margin: 0;
    display: none;
}

ul {
    list-style-type: none;
}

.zen-resources li {
    padding: 20px 20px;
    
}

.zen-resources ul {
    column-count: 2;
    text-align: center;
    color: gray;
    height: 200px;
    background: url(../img/bamboo.png);
    background-attachment: scroll;
    background-color: #89a87e;
    background-size: cover;
    margin: 0;
}